.expo
.expo/*
dist
dist/*
node_modules
node_modules/*
.kiro
.kiro/*
__tests__
__tests__/*
types
types/*
.vscode
.vscode/*
conductor
conductor/*
scripts
scripts/*
*.log
*.txt
*.sql
*.ino
*.md
.git
.gitignore
.easignore
